@use "./widgets/font-manager" as *;
@use "./widgets/flex-manager" as *;
@use "./widgets/colors" as *;

* {
  padding: 0;
  margin: 0;
}

.outside {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  color: $primary-font-color;
  @include flexView(row);
}

.left, .right {
  flex: 1;
  height: 100%;
  @include flexView(row);
  padding: 0 20px;
}

.left {
  a{
    text-decoration: none;
    text-underline: none;
  }

  h2 {
    font-family: $main-font;
    font-size: $logo-font-size;
    cursor: pointer;
  }
}

.right {
  justify-content: flex-end;


}
.manage-btn {
  padding: 10px;
  border-radius: 15px;
  background-color: $manage-business-btn-color;
  border: 1px solid white;
  color: $primary-font-color;
}